@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%);border-radius: 7px;}

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }