@font-face {
  font-family: iransans;
  src: url("../public/fonts/iransans.ttf");
}
@font-face {
  font-family: iranYekan;
  src: url("../public/fonts/iranyekan.ttf");
}

body {
  direction: rtl;
  font-family: iransans;
  background-color: #f0f3f5;
}
.section::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #8070d4;
  border: 6px solid rgba(0, 0, 0, 0.2);
}
.Toastify__toast-body {
  font-family: IRANSans;
  font-size: 12px;
}
