@font-face {
    font-family: IRANSans;
    src: url('../public/IRANSans.ttf');
}
@font-face {
    font-family: iranYekan;
    src: url('../public/AnyConv.com__iranyekanwebmedium.2d4f96e5.ttf');
}

body {
    direction: rtl;
    font-family:iranYekan;
    background-color: #f9fafd;
}
.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8070D4;
    border: 6px solid rgba(0,0,0,0.2);
}
.Toastify__toast-body{

    font-family:IRANSans;
    font-size: 12px;
    
}